body {
   
}
.search-form {
    margin-left: 40%;
    
}
.photo-card {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 10px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.info-item {
    // display: flex;
    // width: 10px
}
.load-more {
    margin-left: 45%;
}
.info {
    display: flex;
    justify-content: space-between;
}
