body {
   
}
.search-form {
    margin-left: 40%;
    
}
.photo-card {
    display: flex;
    flex-direction: column;
    width: 300 px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
}
.info-item {
    display: flex;
    width: 10px
}